[Unit]
Description=pacer_rss_search_warrant_alerter
After=network.target

[Service]
EnvironmentFile=/home/ubuntu/.env
Environment=PATH=/sbin:/bin:/usr/sbin:/usr/bin:/usr/local/bin
Environment=HOME=/home/ubuntu/
WorkingDirectory=/home/ubuntu/tow-pacer/search_warrant_alerter/
TimeoutStartSec=300
ExecStart=/usr/bin/python3 -m pacer_rss_alerter
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true


[Install]
WantedBy=default.target
