.DS_Store
.env
deploy/rss_scraper_lambda.zip
deploy/.terraform.lock.hcl
deploy-tow-pacer.tar.gz
deploy/.terraform/

search_warrants_model_training/classifier/*.pt
search_warrants_model_training/classifier/*.zip
search_warrants_model_training/classifier/*.bin
search_warrants_model_training/classifier/regular_bert/
search_warrants_model_training/classifier/regular_bert_casename_plus_description/
search_warrants_model_training/search_warrant_ner_model/
experiments_and_deadends/doj_press_releases_scraper/doj/
experiments_and_deadends/doj_press_releases_scraper/pdfs/
experiments_and_deadends/doj_press_releases_scraper/*.csv

pdfs/**/*.pdf
__pycache__
.ipynb_checkpoints
.vscode/
Untitled.ipynb
rss_scraper_old_nonchalice/


pacerporcupine/pacerporcupine/models/
pacerporcupine/pacerporcupine/models/classifier/
pacerporcupine/pacerporcupine/models/flairner/
pacerporcupine/pacerporcupine/rss_scraper/
pacerporcupine/pacerporcupine/rss_scraper_chalice/.chalice/config.json

rss_scraper/SQLAlchemy-1.4.7.dist-info/
rss_scraper/__init__.py
rss_scraper/aws_psycopg2-1.2.1.dist-info/
rss_scraper/beautifulsoup4-4.9.3.dist-info/
rss_scraper/bin/
rss_scraper/bs4-0.0.1.dist-info/
rss_scraper/bs4/
rss_scraper/dotenv/
rss_scraper/feedparser-6.0.2.dist-info/
rss_scraper/feedparser/
rss_scraper/greenlet-1.0.0.dist-info/
rss_scraper/greenlet/
rss_scraper/importlib_metadata-3.10.0.dist-info/
rss_scraper/importlib_metadata/
rss_scraper/include/
rss_scraper/psycopg2/
rss_scraper/python_dotenv-0.17.0.dist-info/
rss_scraper/sgmllib.py
rss_scraper/sgmllib3k-1.0.0.dist-info/
rss_scraper/soupsieve-2.2.1.dist-info/
rss_scraper/soupsieve/
rss_scraper/sqlalchemy/
rss_scraper/typing_extensions-3.7.4.3.dist-info/
rss_scraper/typing_extensions.py
rss_scraper/zipp-3.4.1.dist-info/
rss_scraper/zipp.py
