[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
pandas = "*"
flair = "*"
jupyter = "*"
requests = "*"
psycopg2 = "*"
sqlalchemy = "*"
feedparser = "*"
bs4 = "*"
scrapy = "*"
keras = "*"
tensorflow = "*"
chalice = "*"

[dev-packages]

[requires]
python_version = "3.8"
